[submodule "SimpleWebServer"]
	path = SimpleWebServer
	url = https://github.com/tdl1304/SimpleWebServer.git
[submodule "CompilerWebServer"]
    path = CompilerWebServer
    url = https://github.com/tdl1304/CompilerWebServer.git
